/* nav styles */
.manu-container{
    background-color:dimgray;
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.logo-photo{
    width: 100px;
}

/* nav li{
    list-style: none;
} */

.manu-links{
    display: flex;
    gap: 20px;
    /* padding: 20px; */
    font-size: 18px;
    cursor: pointer;
}

.manu-item:hover{
    color:cyan;
}

/* banner section started */
.banner-container{
    display: flex;
    justify-content:space-around;
    height: 100vh;
    border: 2px solid gray;
    align-items: center;
    background-image: url("./images/background.png"),
    linear-gradient(45deg, #000000, #474444);
}
.banner-text{
    color: white;
}
.banner-img{
    width: 400px;
}

.banner-title{
    font-size: 55px;
    font-weight: bold;
}

.banner-description{
    font-size: 18px;
    margin: 0 0 30px;
}

.banner-button{
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
}